@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Kanit,sans-serif;
}

.container {
    width: 595px;
    height: 842px;
    margin: auto;
    border: 1px solid black;
    padding-left: 3rem;
}

.name {
    font-size: 36px;
    padding-bottom: 0;
    margin-top: 20px;
    margin-bottom: 0;
}

.subheader {
    font-size: 18px;
    color: #81C784;
    margin: 0;
    padding: 5px;
}

p{
    margin: 0;
}

ol {
    margin: 0;
}